Source: fcitx
Section: utils
Priority: optional
Maintainer: Kov Chai <tchaikov@gmail.org>
Build-Depends: debhelper (>= 5), libcairo2-dev, libdbus-1-dev, intltool (>= 0.35.0), libtool
DM-Upload-Allowed: yes
Standards-Version: 3.8.0
Homepage: http://code.google.com/p/fcitx/

Package: fcitx
Architecture: any
Depends: ${shlibs:Depends}
Recommends: im-switch, ttf-arphic-gbsn00lp | ttf-arphic-gkai00mp
Description: Free Chinese Input Toy for X (XIM)
 fcitx is a simplified Chinese input server. It supports WuBi,
 Pinyin and QuWei input method. It's small and fast.
