Source: fcitx
Section: utils
Priority: optional
Maintainer: Kov Chai <tchaikov@gmail.org>
Build-Depends: cdbs (>= 0.4.41), debhelper (>= 5), libx11-dev, libxft-dev, libxpm-dev
DM-Upload-Allowed: yes
Standards-Version: 3.7.2
Homepage: http://code.google.com/p/fcitx/

Package: fcitx
Architecture: any
Depends: ${shlibs:Depends}
Recommends: im-switch, ttf-arphic-gbsn00lp | ttf-arphic-gkai00mp
Description: Free Chinese Input Toy for X (XIM)
 fcitx is a simplified Chinese input server. It supports WuBi,
 Pinyin and QuWei input method. It's small and fast.
