#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk


CFLAGS = -Wall -g
LDFLAGS += -Wl,-z,defs

debian/stamp-autotools-files:
	./autogen.sh --prefix=/usr $(DEB_CONFIGURE_EXTRA_FLAGS)
	touch $@

common-install-impl::
	rm -f debian/fcitx/usr/share/fcitx/doc/*
	rmdir debian/fcitx/usr/share/fcitx/doc

